$light-gray: #ccc;
$gray: #888;
$red: #d33a31;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;

  color: black;
}

ol li,
ul li,
li {
  display: block;
}

body {
  font-family: 'Lato', -apple-system, system-ui, sans-serif;
  font-size: 14px;
}



@import 'header';
@import 'nav';
@import 'recommend';
@import 'popular';
@import 'borders';