* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: border-box; }

a,
a:visited {
  text-decoration: none;
  color: black; }

ol li,
ul li,
li {
  display: block; }

body {
  font-family: 'Karla', -apple-system, system-ui, sans-serif;
  font-size: 14px; }

/*header*/
.top-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  width: 100vw;
  height: 17.53vw;
  padding: 0 2.74vw;
  background-color: #d33a31;
  justify-content: space-between;
  align-items: center; }
  .top-bar .svg-logo {
    width: 37.86vw; }
  .top-bar .download {
    position: relative;
    height: 30px;
    padding: 0 10px;
    color: white;
    font-size: 15px;
    line-height: 30px; }
    .top-bar .download::after {
      border: 1px solid white;
      border-radius: 37.5%/100%; }

.site-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  width: 100vw;
  margin-top: 17.53vw;
  background-color: white;
  font-size: 15px;
  align-items: center; }
  .site-nav::after {
    border-bottom: 1px solid #ccc; }
  .site-nav li {
    width: 33.33%;
    height: 10.6vw;
    text-align: center;
    line-height: 10.6vw; }
    .site-nav li.active .nav-text {
      color: #d33a31; }
      .site-nav li.active .nav-text::after {
        position: absolute;
        z-index: 3;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        transform: scaleY(0.5);
        background: #d33a31; }
  .site-nav .nav-text {
    position: relative;
    display: inline-block;
    padding: 0 5px; }

.song-wrapper {
  margin-left: 10px; }

.song {
  position: relative;
  display: block;
  width: 100%;
  padding: 6px 0; }
  .song .icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 6vw;
    height: 14.1vw;
    fill: #AAAAAA; }
  .song::after {
    z-index: 2;
    border-bottom: 1px solid #ccc; }
  .song p {
    margin-right: 11.2vw; }
  .song .song-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    font-size: 17px; }
  .song .song-info {
    display: flex;
    color: #888;
    font-size: 12px;
    align-items: center; }
    .song .song-info .icon-sq {
      position: static;
      height: 15px;
      transform: translateX(-4px);
      stroke: #FE672E;
      stroke-width: 20px;
      fill: #FE672E; }

.container {
  padding-top: 28.13vw; }
  .container > div {
    display: none; }
    .container > div.active {
      display: block; }

.recommend {
  padding-top: 20px; }
  .recommend h2 {
    position: relative;
    height: 20px;
    margin-bottom: 14px;
    padding-left: 9px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px; }
    .recommend h2::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 16px;
      margin-top: -9px;
      content: " ";
      background-color: #d33a31; }
  .recommend .playlists {
    display: flex;
    padding-bottom: 24px;
    flex-wrap: wrap; }
  .recommend .playlist {
    display: block;
    width: 33.33%;
    padding-bottom: 16px; }
    .recommend .playlist .title {
      display: -webkit-box;
      overflow: hidden;
      padding: 6px 2px 0 6px;
      font-size: 13px;
      line-height: 1.2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .recommend .playlist img {
      width: 100%; }
    .recommend .playlist .playlist-cover {
      position: relative; }
      .recommend .playlist .playlist-cover::after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        content: " ";
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent); }
      .recommend .playlist .playlist-cover .playlist-num {
        position: absolute;
        z-index: 3;
        top: 2px;
        right: 5px;
        display: flex;
        color: #fff;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
        font-size: 12px;
        align-items: center; }
        .recommend .playlist .playlist-cover .playlist-num .icon-erji {
          display: block;
          width: 12px;
          height: 11px;
          margin-right: 2px;
          fill: white; }
    .recommend .playlist:nth-child(3n+1) {
      padding-right: 2px; }
    .recommend .playlist:nth-child(3n) {
      padding-left: 2px; }
    .recommend .playlist:nth-child(3n-1) {
      padding-right: 1px;
      padding-left: 1px; }

footer {
  position: relative;
  height: 54vw;
  margin-top: 4px;
  padding-top: 16.9%;
  text-align: center;
  background: url("//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922") no-repeat;
  background-size: contain; }
  footer .logo .logosvg {
    display: block;
    width: 61.3vw;
    margin: 0 auto; }
  footer .open-app {
    height: 10vw;
    margin: 15px 37px 5px;
    color: #d33a31;
    border: 1px solid #d33a31;
    border-radius: 10vw;
    font-size: 16px;
    line-height: 10vw; }
  footer .copyright {
    transform: scale(0.75);
    color: #888;
    font-size: 12px;
    line-height: 16px; }

.popular .popular-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 38.9vw;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.8);
  background: url("//ooo.0o0.ooo/2017/07/06/595df98e03c6a.jpg");
  background-size: contain;
  justify-content: center; }
  .popular .popular-banner .update-time {
    margin-top: 10px;
    transform: scale(0.91);
    transform-origin: left top;
    font-size: 12px; }
  .popular .popular-banner .update-time,
  .popular .popular-banner .hot-logo {
    position: relative;
    z-index: 2; }
  .popular .popular-banner .hot-logo {
    width: 142px;
    height: 67px; }
  .popular .popular-banner::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    background-color: rgba(0, 0, 0, 0.2); }

.popular-list .song-wrapper {
  display: flex;
  align-items: center; }
  .popular-list .song-wrapper.highlight .index {
    color: #df3436; }

.popular-list .index {
  width: 8vw;
  color: #999;
  font-size: 4.8vw; }

.search form {
  position: relative;
  padding: 4vw 2.67vw; }
  .search form::after {
    border-bottom: 1px solid #ccc; }

.search .input-wrapper {
  display: flex;
  border-radius: 4vw;
  background-color: #ebecec; }
  .search .input-wrapper .icon {
    display: block;
    width: 8vw;
    height: 8vw;
    transform: scale(0.5);
    fill: #adabab; }
  .search .input-wrapper .icon-close {
    display: none; }
  .search .input-wrapper .search-input {
    width: 100%;
    height: 8vw;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-size: 14px;
    -webkit-appearance: none; }
    .search .input-wrapper .search-input::-webkit-input-placeholder {
      color: #c9c9c9; }
    .search .input-wrapper .search-input:focus {
      outline: none; }

.borders::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transform-origin: top left;
  pointer-events: none; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .borders::after {
    width: 150%;
    height: 150%;
    transform: scale(0.66667); } }

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .borders::after {
    width: 200%;
    height: 200%;
    transform: scale(0.5); } }
