* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: border-box; }

a,
a:visited {
  text-decoration: none;
  color: #333; }

ol li,
ul li,
li {
  display: block; }

body {
  color: #333;
  font-family: 'Karla', -apple-system, system-ui, sans-serif;
  font-size: 14px; }

.container {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100vh; }
  .container div {
    z-index: 1; }

.song-background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s linear;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }
  .song-background::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    background-color: rgba(0, 0, 0, 0.5); }

.song-dist .pointer {
  position: absolute;
  z-index: 2;
  left: 45vw;
  width: 24vw; }

.song-dist .song-turn {
  position: relative;
  display: flex;
  margin-top: 18vw;
  justify-content: center;
  align-items: center; }
  .song-dist .song-turn.playing .light,
  .song-dist .song-turn.playing .cover {
    animation-play-state: running; }
  .song-dist .song-turn.playing .song-control-btns .icon {
    display: block; }
  .song-dist .song-turn.playing .song-control-btns .icon-play {
    display: none; }
  .song-dist .song-turn .ring {
    width: 72vw; }
  .song-dist .song-turn .light {
    position: absolute;
    width: 72vw; }
  .song-dist .song-turn .light,
  .song-dist .song-turn .cover {
    animation: circle 20s infinite linear;
    animation-play-state: paused; }
  .song-dist .song-turn .cover {
    position: absolute;
    width: 45vw;
    border-radius: 50%; }

.song-control-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 16vw;
  height: 16vw;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center; }
  .song-control-btns .icon {
    position: relative;
    z-index: 5;
    display: none;
    width: 10vw;
    transform: scale(0.8);
    fill: #fff; }
  .song-control-btns .icon-play {
    display: block;
    transform: scale(0.6) translateX(10%); }

.song-info {
  position: relative;
  margin-top: 5vw;
  padding: 0 9.33vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.6); }
  .song-info .song-name {
    color: #fff;
    font-weight: bold; }
  .song-info h2.song-title {
    font-size: 4.8vw;
    font-weight: normal; }
  .song-info .song-lrc {
    margin-top: 3.73vw; }

.footer {
  position: absolute;
  bottom: 5vh;
  display: flex;
  width: 100vw;
  padding: 0 8vw;
  justify-content: space-between;
  align-items: center; }
  .footer span {
    width: 40vw;
    height: 36px;
    text-align: center;
    color: #d43b32;
    border: 1px solid #d43b32;
    border-radius: 4px;
    line-height: 36px; }
  .footer .download {
    color: #fff;
    background-color: #d43b32; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
