.search-history {
  display: none;
  .icon {
    width: 5vw;
    height: 5vw;

    transform: translateY(12%);

    fill: #999899;
  }
  .icon-time {
    position: absolute;

    transform: translateX(-8vw);

    fill: #C9CACA;
  }
  .icon-cross {
    transform: scaleX(0.96) translateY(10%);
  }
  ul {
    position: relative;

    padding-left: 10vw;
  }
  .history-item {
    display: flex;

    height: 12vw;
    padding-right: 5.33vw;
    padding-left: 5px;

    font-size: 15px;
    line-height: 1;

    justify-content: space-between;
    align-items: center;
    &::after {
      border-bottom: 1px solid $light-gray;
    }
  }
  &.active {
    display: block;
  }
}